@use '../abstracts/variables' as *;

[data-theme='dark'] {
  background-color: #121212;
  color: #e0e0e0;

  .navbar {
    background-color: darken($dark-color, 10%) !important;
  }

  .card {
    background-color: #1e1e1e;
    border-color: #333;

    &-title,
    &-text {
      color: #e0e0e0;
    }

    &-footer {
      border-color: #333;
    }
  }

  .alert {
    &-info {
      background-color: darken($info-color, 30%);
      border-color: darken($info-color, 35%);
      color: #e0e0e0;
    }

    &-danger {
      background-color: darken($danger-color, 20%);
      border-color: darken($danger-color, 25%);
      color: #e0e0e0;
    }
  }

  .main-footer {
    background-color: #121212 !important;
  }
}
