<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
  </head>
  <body>
    <header>
      <navbar-component brandName="Story App"></navbar-component>
    </header>

    <main class="container my-5">
      <!-- Alert -->
      <div id="alertContainer" class="row justify-content-center mb-4">
        <div class="col-md-8 col-lg-6"></div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
          <div class="card shadow-sm">
            <div class="card-body">
              <form class="row g-3" id="uploadStoryForm" novalidate>
                <div class="col-12 col-md-6">
                  <label for="validationCustomEvidence" class="form-label"
                    >Image Preview:</label
                  >
                  <input-image-with-preview
                    inputId="validationCustomEvidence"
                    invalidFeedbackMessage="Upload minimum 1 image"
                    required
                  ></input-image-with-preview>
                </div>

                <label for="validationCustomNotes" class="form-label"
                  >Description:</label
                >
                <textarea-with-validation
                  inputId="validationCustomNotes"
                  invalidFeedbackMessage="Description cannot be empty"
                  required
                ></textarea-with-validation>
                <div class="col-12 text-end">
                  <button
                    id="liveToastBtn"
                    class="btn btn-primary"
                    type="submit"
                  >
                    Submit
                    <i class="bi bi-send ms-2"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer-component></footer-component>
  </body>
</html>
