<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
  </head>
  <body>
    <header>
      <navbar-component brandName="Story App"></navbar-component>
    </header>

    <main class="container my-5">
      <profile-component></profile-component>
    </main>
    <footer-component></footer-component>
  </body>
</html>
